/* Universal */

html, 
body, 
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: #0C2D48;
    background-color: #145DA0;
    line-height: 1.5rem;
}

a {
    color: #145DA0;
    font-weight: 700;
}

a:hover {
    color: #14a053;
}

.section {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B1D4E0;
}

.header,
.footer {
    margin: 2rem;
}

.header-text,
.feat-link {
    font-size: 1.15rem;
}

/* Header */

.header {
    padding: 1rem;
}

.header h1,
.header-text {
    margin: 1rem;
}

.header h1 {
    min-width: 35%;
}

.header-text {
    font-weight: 700;
}

/* Footer */

.footer {
    padding: 0.25rem;
}

.attribution {
    font-weight: 700;
}

/* Features */

.feature-section {
    align-items: center;
    flex-direction: column;
}

.section-title {
    margin: 1rem 1rem 0 1rem;
}

.feature-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.feat-image:hover {
    opacity: 75%;
}

.feat-deets {
    text-align: center;
}

.feat-deets p {
    font-weight: 700;
}

/* Media Queries */

@media screen and (max-width: 626px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header h1,
    .header-text {
    margin: 0.5rem;
    }

    .header h1 {
        font-size: 1.8rem;
    }

    .header-text {
        font-size: 1rem;
    }

    .section-title {
        font-size: 1.25rem;
    }


}